<h2>{{ title }}</h2>
{% if items %}
  <ol>
    {% for item in items %}
      <li>
        {% for field in item.fields %}
          <h3>{{ field.label }}</h3>
          <p>{{ field.value }}</p>
        {% endfor %}
      </li>
    {% endfor %}
  </ol>
{% else %}
  {% if empty_text %}
    {{ empty_text }}
  {% endif %}
{% endif %}
